@{
    ViewData["Title"] = "Home Page";
}
<script src="/lib/jquery/dist/jquery.min.js"></script>
<input id="input-angka" type="text"/>    
<br/>
<br/>
<button id="segitiga">Generate segitiga</button>
<button id="ganjil">Generate Bilangan Ganjil</button>
<button id="prima">Generate Bilangan Prima</button>
<script>
    $('#segitiga').click(() => {
        alert('test1')
    })
    $('#ganjil').click(() => {
        alert('test2')
    })
    $('#prima').click(() => {
        alert('test3')
    })

</script>